section{
    display: flex;
    height:100vh;
    justify-content: center;
    
}

.container{
    display:flex;
    justify-content: flex-end;
}

h1{
    text-align: center;
}

.transition{
    transition: all 5500ms ease 0s;
    transform: translate3d(-1300px, 0px, 0px);
}

.transitioned{
    /* transition: all 7000ms ease 0s;
    transform: translate3d(-1149px, 0px, 10px); */
    transform: translateX(-80%);
    /* transition-timing-function: ease-in; */
    transition:5s;
}